body{
  background-color: #292929;
  color: black;

  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    background-color: white;
  }
}

#gridContainer {
  background-image: url('img/blue.png');
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center center;
  -webkit-print-color-adjust: exact !important;

  height: 100vh;
  width: 90vh;
  margin: auto;

  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  /* padding-left: 15%;
  padding-right: 15%; */
  /* margin-top: 5vh; */
  /* padding-top: 44vh; */
  gap: 1vh 2vh;
  position: relative;
}

.numB {
  color: black;
  /* background-color: blue; */
  /* padding-right: 0px; */
  /* padding-left: 40px; */
  padding: 1vh;
  font-size: 6vh;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 50%;

  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

.numI {
  color: black;
  /* background-color: blue; */
  /* padding-right: 0px; */
  /* padding-left: 40px; */
  padding: 1vh;
  font-size: 6vh;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 50%;

  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

.numN {
  color: black;
  padding: 1vh;
  font-size: 6vh;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 50%;

  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

.numG {
  color: black;
  padding: 1vh;
  font-size: 6vh;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 50%;

  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

.numO {
  color: black;
  padding: 1vh;
  font-size: 6vh;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 50%;

  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

.grid-item {
  color: black;
  padding: 1vh;
  font-size: 6vh;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 50%;

  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

.grid-clear {
  opacity: 0;
  padding: 1vh;
  font-size: 6vh;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-small {
  opacity: 0;
  font-size: 7.8vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-large {
  opacity: 0;
  font-size: 17.25vh;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.widthFormat{
  color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  height: 100%;
}

.board{
  color: white;
  margin: auto;
  height: 100%;
  text-align: center;
  padding-bottom: 10vh;
}

#boardContainer {
  -webkit-print-color-adjust: exact !important;

  background-color: rgb(92, 92, 92);
  height: 100%;
  width: 80%;
  margin: auto;

  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  gap: 1vh 1vh;
  padding: 1vh;
  
  position: relative;

}

h1{
  color: white;
  font-size: 7vh;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h3{
  width: 80%;
  color: white;
  margin: auto;
  font-size: 3vh;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: black;
  border: solid;
  border-bottom: black;
  border-width: 1vh;
  border-color: rgb(92, 92, 92);
  padding: 1vh 0;
}

h3:hover {
  background-color:rgb(155, 155, 155);
}

#currentLetter{
  font-size: 9vh;
  font-weight: bolder;
  color: #292929;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

#current{
  font-size: 12vh;
  font-weight: bolder;
  color: #292929;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  padding-bottom: 4vh;
}

.boardLetter{
  padding: 1vh;
  color: red;
  font-size: 3vh;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: white;
}

.boardNum{
  padding: 1vh;
  color: white;
  font-size: 3vh;
  text-align: center;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: black;
}

p{
  opacity: 0;
  font-size: 2vh;
}